<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <GeoSocketClient ip="127.0.0.1" port="9041" />
  <WebSocketServer port="9031" timeout="59" />
  <!-- VideoSource soit "Decklink" soit un chemin vers un fichier video (.mp4 par exemple) -->
  <!--VideoSource>Decklink</VideoSource-->
  <VideoSource>Assets/Input/vg_1.mp4</VideoSource>
  <Logs>
    <Log id="-1" enable="true" logAnswer="true" coldDownTime="0" />
    <Log id="2302" enable="true" logAnswer="false" coldDownTime="5000" />
    <Log id="2303" enable="true" logAnswer="false" coldDownTime="5000" />
  </Logs>
</Settings>